@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Source Sans 3', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #FF646F;
  text-decoration: inherit;
  transition: all 0.3s;
  /* text-decoration: none; */
}
a:hover {
  color: #385CFA;
  transition: all 0.3s;
  /* text-decoration: underline; */
}

footer a:hover {
  color: #FF646F;
  transition: all 0.3s;
  /* text-decoration: underline; */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-family: 'Blinker', Courier, monospace;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
/* button:hover {
  border-color: #646cff;
} */
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  /* a:hover {
    color: #385CFA;
    transition: all 0.3s;
  } */
  button {
    background-color: #f9f9f9;
  }
}


/* source-sans-3-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/source-sans-3-v15-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* source-sans-3-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/source-sans-3-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* blinker-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Blinker';
  font-style: normal;
  font-weight: 200;
  src: url('./assets/fonts/blinker-v13-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* blinker-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Blinker';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/blinker-v13-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* blinker-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Blinker';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/blinker-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}



/* Workshop styles */


.answer {

  /* display: none; */
  /* height: 0;*/
  visibility: hidden;
  transition: all 1s; 
  transition: opacity 1s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;

}

.answer.open {
  display: block;
  visibility: visible;
  height: auto;
  /* height: auto; */
  opacity: 1;
  transition: all 1s;
}

.answer h4 {
  font-weight: bold;
}

.answer ul {
  list-style-type: disc;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.plus-vertical {
    width: 2px;
    background: #fff;
    height: 14px;
    border-radius: 99px;
    position: absolute;
    transition: all 0.3s;

}

.plus-horizontal {
  height: 2px;
  background: #fff;
  width: 14px;
  border-radius: 99px;
}

.open .plus-vertical {
  transform: rotate(90deg);
  transition: all 0.3s;
}

@media (min-width: 1024px) {
  /* … */
}

  
/* #svg-circle {
  transform: scale(1);
  transform-box: fill-box;
  transform-origin: center;
  animation: circle 8s ease-in-out infinite alternate;
}

@keyframes circle {
  to {
    transform: scale(1.05);
  }
}

#svg-rectangle {
  transform: scale(1);
  transform-box: fill-box;
  transform-origin: center;
  animation: rectangle 8s ease-in-out infinite alternate;
}

@keyframes rectangle {
  to {
    transform: scale(1.05);
  }
} */


#circle svg {
  position: absolute;
    bottom: 0;
    right: 0;
    /* opacity: 0.3; */
}

#circle #svg-circle {
  right: -50%;
}
#circle #svg-rectangle {
  right: -20%;
}


/* navbar anim */

/* .header {
  transform: translateY(0);
  transition: transform 300ms linear;
} */

.navbar {
  transform: translateX(-50%);
  transition: transform 300ms ease-in-out;

}
.navbar--hidden {
    transform: translateX(-50%) translateY(-120%);
    transition: transform 300ms ease-in-out;

}

.faq .header h3,
.faq .header .workshop-label,
.faq .header .plus-sphere {
  transition: all 0.3s;
}

.faq .header.open h3,
.faq .header.open .workshop-label,
.faq .header.open .plus-sphere {
  transition: all 0.3s;
  color: #385CFA;
  border-color:#385CFA;
}

.faq .header.open .plus-sphere {
  background-color: #385CFA;
}

.faq .header:hover h3 {
  color: #385CFA;
  transition: all 0.3s;

} 

.faq .header:hover .workshop-label {
  color: #385CFA;
  border-color:#385CFA;
  transition: all 0.3s;

} 

.faq .header:hover .plus-sphere {
  background-color: #385CFA;
  transition: all 0.3s;

} 